.tooltip {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 320px;
  padding: 18px 18px 18px 12px;
  border-radius: 5px;
  box-shadow: 0 10px 25px 0 rgba(68, 68, 68, 0.20);
  animation: view 1s;

  &__hide {
    animation: hide 1s;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    cursor: pointer;
  }

  &__text {
    color: #6F727A;
    font-family: 'Inter 400', sans-serif;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.32px;
  }
}

@keyframes view {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes hide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-300px);
  }
}
